html {
	font-family: 'Lexend Exa', 'Kosugi Maru', sans-serif;
	line-height: 1.5;
	background-color: #FFE0C0;
	color: #383838;
}

h1, h2, h3, h4, h5, h6 {
	line-height: 1.2;
	text-align: center;
	margin: 0;
}

ol, ul {
	text-align: left;
}

li {
	margin : 0.5em 0 0 0;
}


.button {
	margin: 0px 0px;
	width: 10em;
	height: 4em;
	background-color: #FFE0C0;
	color: #383838;
	font-weight: bold;
}

.textline {
	margin: 0px 0px;
	height: 2em;
	background-color: #FFE0C0;
	color: #383838;
	font-weight: bold;
}

.content {
	margin: 30px auto;
	padding: 0;
}

.content_container {
	max-width: 700px;
	margin: 20px auto;
	padding: 10px 0px;
	text-align: center;
	background-color: #FA776D;
	color: #FFE0C0;
}

.content_container > div {
	margin: 30px 10px;
}

.content_container h2 {
	background-color: #FFE0C0;
	color: #383838;
	font-weight: normal;
}

.content_header {
	margin: 20px;
	text-align: center;
	white-space: nowrap;
}

.timer_input > div {
	margin: 15px 0px;
}

#input_ramen_name {
	width: 90%;
}

#input_timer_interval {
	width : 3em;
}

#input_ramen_speed {
	width: 5em;
}

#output_time_n {
	font-size: 2.5em;
	font-weight:bold;
}

#output_time_m {
	font-size: 1.7em;
	font-weight: bold;
}

.timer_display {
	border: solid;
	margin: 10px 0 0 0;
}

#output_recipe {
	margin: 0;
	border: solid;
	background-color: #FA776D;
	color: #FFE0C0;

	max-height: 20em;
	overflow-y:scroll;
}

#output_recipe .recipe_item {
	overflow: hidden;
}

#output_recipe .recipe_t {
	background-color: #FFE0C0;
	color: #383838;
}

#output_recipe .recipe_time {
	width: 35%;
	float: left;
}

#output_recipe .recipe_desc {
	float: left;
	width: 65%;
	font-size: 1.0em;
	text-align: left;
}

#output_timelag {
	text-align: right;
	font-size: 0.8em;
}

#output_word_list > li > ul > li {
	margin: 0;
}

footer {
	max-width: 700px;
	margin: 0px auto;
	text-align: right;
}